*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#325ba8;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color : #fff;
    font-size: 2rem;
    /* width: 400px; */
}
span{
    display: flex;
    color: rgb(199, 199, 15);
}
.input_feild{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 10px;
    background-color: rgba(240, 255, 255, 0.55);
    padding: 14px 16px;
    border-radius: 10px;
    width: 30%;
    margin: 20px;
}
.input{
    width: 100%;
}
.input input{
    width:100%;
    font-size: 18px;
    padding: 10px 20px;
    flex-grow: 1;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    outline: none;
    cursor: pointer;
    position: relative;
}
.input input::-webkit-calendar-picker-indicator{
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: auto;
    position: absolute;
    background-position: calc(100% - 10px) center;
    background-size: 30px;
    color: #333;
}
.btn button{
    padding: 10px 18px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    color: #333;
    background-color: rgb(235, 235, 8);
    cursor: pointer;
}
